<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>book</display-name>
    <servlet>
        <servlet-name>servlet_CTS</servlet-name>
        <servlet-class>Controller.servlet_ChiTietSach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_XemChiTietSach</servlet-name>
        <servlet-class>Controller.servlet_XemChiTietSach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a</servlet-name>
        <servlet-class>Controller.a</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_DANGNHAP</servlet-name>
        <servlet-class>Controller.servlet_DANGNHAP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_DangNhap</servlet-name>
        <servlet-class>Controller.servlet_DangNhap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_SachKhuyenMai_TrangChu</servlet-name>
        <servlet-class>Controller.servlet_SachKhuyenMai_TrangChu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_KiemTraTaiKhoan</servlet-name>
        <servlet-class>Controller.servlet_KiemTraTaiKhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_nhaXuatBan</servlet-name>
        <servlet-class>Controller.servlet_nhaXuatBan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_khachHang</servlet-name>
        <servlet-class>Controller.servlet_khachHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_sach</servlet-name>
        <servlet-class>Controller.servlet_sach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_tacGia</servlet-name>
        <servlet-class>Controller.servlet_tacGia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_theLoai</servlet-name>
        <servlet-class>Controller.servlet_theLoai</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_thanhToan</servlet-name>
        <servlet-class>Controller.servlet_thanhToan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_Giohang</servlet-name>
        <servlet-class>Controller.servlet_Giohang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_ChuyenTrang</servlet-name>
        <servlet-class>Controller.servlet_ChuyenTrang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_DatHang</servlet-name>
        <servlet-class>Controller.servlet_DatHang</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_XemThem</servlet-name>
        <servlet-class>Controller.servlet_XemThem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_NhanXet</servlet-name>
        <servlet-class>Controller.servlet_NhanXet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_mail</servlet-name>
        <servlet-class>Controller.servlet_mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>as</servlet-name>
        <servlet-class>Controller.servlet_TimKiem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_timSach</servlet-name>
        <servlet-class>Controller.servlet_timSach</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_timTacGia</servlet-name>
        <servlet-class>Controller.servlet_timTacGia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet_timNXB</servlet-name>
        <servlet-class>Controller.servlet_timNXB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet_CTS</servlet-name>
        <url-pattern>/servlet_CTS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_XemChiTietSach</servlet-name>
        <url-pattern>/servlet_XemChiTietSach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a</servlet-name>
        <url-pattern>/a</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_DANGNHAP</servlet-name>
        <url-pattern>/servlet_DANGNHAP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_DangNhap</servlet-name>
        <url-pattern>/servlet_DangNhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_SachKhuyenMai_TrangChu</servlet-name>
        <url-pattern>/servlet_SachKhuyenMai_TrangChu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_KiemTraTaiKhoan</servlet-name>
        <url-pattern>/servlet_KiemTraTaiKhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_nhaXuatBan</servlet-name>
        <url-pattern>/servlet_nhaXuatBan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_khachHang</servlet-name>
        <url-pattern>/servlet_khachHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_sach</servlet-name>
        <url-pattern>/servlet_sach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_tacGia</servlet-name>
        <url-pattern>/servlet_tacGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_theLoai</servlet-name>
        <url-pattern>/servlet_theLoai</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_thanhToan</servlet-name>
        <url-pattern>/servlet_thanhToan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_Giohang</servlet-name>
        <url-pattern>/servlet_Giohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_ChuyenTrang</servlet-name>
        <url-pattern>/servlet_ChuyenTrang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_DatHang</servlet-name>
        <url-pattern>/servlet_DatHang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_XemThem</servlet-name>
        <url-pattern>/servlet_XemThem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_NhanXet</servlet-name>
        <url-pattern>/servlet_NhanXet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_mail</servlet-name>
        <url-pattern>/servlet_mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>as</servlet-name>
        <url-pattern>/as</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>servlet_timSach</servlet-name>
        <url-pattern>/servlet_timSach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_timTacGia</servlet-name>
        <url-pattern>/servlet_timTacGia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet_timNXB</servlet-name>
        <url-pattern>/servlet_timNXB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
           60
        </session-timeout>
    </session-config>
</web-app>
